@import "./variables";

.todo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  background-color: $gray1;
  border-radius: 10px;
  transition: background-color 200ms ease-out;
  box-sizing: border-box;

  .checkbox {
    width: 28px;
    height: 28px;

    .input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked + .label {
        background-color: $pink1;

        &::before {
          opacity: 1;
        }
      }
    }
    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: $gray0;
      border-radius: 10px;
      cursor: pointer;

      &::before {
        content: "✔️";
        display: block;
        font-size: 18px;
        line-height: 22px;
        opacity: 0;
      }
    }
  }

  .value {
    flex: 1;
  }

  .actions {
    display: flex;
    gap: 10px;
    .button {
      background-color: $gray0;

      &:hover {
        background-color: $gray2;
      }
    }
  }
}
