@import "./variables";
@import "./forms";

.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 16px;
  background-color: $gray1;
  border-radius: 10px;
  box-sizing: border-box;

  .id {
    background-color: $pink0;
    color: $gray9;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .body {
    flex: 1;
  }

  .actions {
    display: flex;
    gap: 10px;
    .button {
      background-color: $gray0;

      &:hover {
        background-color: $gray2;
      }
    }
  }

  .reference-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .reference-button {
    height: 30px;
    padding: 0 8px;
    background-color: $gray1;
  }

  .references {
    display: flex;
    gap: 10px;
  }

  .dates {
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $gray7;
  }
}
